:root {
  --main-text-color: #434455;
  --headers-color: #2e2f42;
  --footer-background-color: #2e2f42;
  --logo-color: #4d5ae5;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
.logo-link {
  color:#4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link > .span {
  color: #2e2f42;
}
.list {
  list-style-type: none;
}
.list {
  list-style: none;
}
.first-link {
  color:#2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.first-link:hover,
.first-link:focus {
  text-decoration: none;
  color: #404bbf;
}
.address {
  font-style: normal;
}
.item {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item:hover,
.item:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
}
.title {
  color: #ffffff;
  font-size: 56px;
  font-weight:700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.first-button {
  color: #ffffff;
  background-color: #4D5AE5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}
.first-button:hover,
.first-button:focus {
  background-color: #404BBF;
}
.title-list {
  list-style: none;
}
.title-two {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.paragraph {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.title-list-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-four {
  background: #F4F4FD;
  flex-shrink: 0;
}
.title-four {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.people {
  background-color: #FFFFFF;
}

.background {
  background-color: #2e2f42;
  flex-shrink: 0;
}
.second-paragraph {
      line-height: 1.5;
      color: #F4F4FD;
      letter-spacing: 0.02em;
}
.logo-link {
  color:#4d5ae5;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-link > .second-span {
  color: #f4f4fd;
}

.filter-button {
  color:#4d5ae5;
  background-color: #F4F4FD;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.filter-button:hover,
.filter-button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.firs-container{

}
